In [1]:
#!pip install pandas-datareader
import pandas as pd
import pandas_datareader.data as web
import datetime
import csv

In [2]:
code_df = pd.read_csv('C:/Users/Mgyu/PL/financial/상장법인목록_2022_05_08.csv')
code_df = code_df[['회사명', '종목코드']]
code_df

             회사명    종목코드
0       상상인제3호스팩  415580
1         신영스팩7호  419270
2           포바이포  389140
3        신한제9호스팩  405640
4     미래에셋비전스팩1호  412930
...          ...     ...
2495      CJ대한통운     120
2496       메리츠화재      60
2497          경방      50
2498       유수홀딩스     700
2499    한진중공업홀딩스    3480

[2500 rows x 2 columns]

In [3]:
industry = pd.read_csv('data_4232_20220625.csv', encoding = 'CP949')

In [4]:
industry['시가총액max'] = industry.groupby('업종명')['시가총액'].transform(max)

In [5]:
top = industry[industry['시가총액'] == industry['시가총액max']][['종목명','종목코드','업종명']]
top

          종목명    종목코드          업종명
14     CJ제일제당  097950         음식료품
36        F&F  383220         섬유의복
50     HLB글로벌  003580           광업
51        HMM  011200        운수창고업
60       KB금융  105560         기타금융
77       KT&G  033780        기타제조업
92       LG화학  051910           화학
105     NAVER  035420         서비스업
117  POSCO홀딩스  005490         철강금속
150     SK텔레콤  017670          통신업
319      동원산업  006040  농업, 임업 및 어업
330   두산에너빌리티  034020           기계
384    미래에셋증권  006800           증권
421      삼성물산  028260          유통업
423  삼성바이오로직스  207940          의약품
424      삼성생명  032830           보험
429      삼성전자  005930         전기전자
513     신대양제지  016590         종이목재
563  에스디바이오센서  137310         의료정밀
707     카카오뱅크  323410           은행
777    포스코케미칼  003670        비금속광물
805      한국전력  015760        전기가스업
879      현대건설  000720          건설업
900       현대차  005380         운수장비

In [6]:
code_list = list(top['종목코드'])
name_list = list(top['종목명'])
type_list = list(top['업종명'])

In [7]:
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format) # 0을 체워넣어서 여섯자리로 종목코드 길이 고정

In [8]:
def get_code(df, name):
    name_list = list(code_df['회사명'])
    if name not in name_list:
        print('회사명을 정확히 입력해주세요.')
    else:
        code = df.loc[df['회사명'] == name, '종목코드'].to_string(index=False)
        code = code.strip()
        return code

In [10]:
start = datetime.datetime(1980, 1, 1)
end = datetime.datetime(2022, 6, 25)
for code, name, stock_type in zip(code_list, name_list, type_list):
    df = web.DataReader(f"{code}.KS", "yahoo", start, end)
    df.to_csv(f'C:/Users/Mgyu/PL/financial/leader_stocks_data/{name}_{stock_type}.csv')